:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --gradient-start: #212832;
    --gradient-end: #171e28;
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%; /* set 1rem = 10px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--very-dark-blue);
    font-family: "Overpass", sans-serif;
}

.container{
    margin: 1.5rem;
    background: linear-gradient(
        180deg,  var(--gradient-start), var(--gradient-end)
    );
    border-radius: 15px;
    box-shadow: 0 1rem 1rem hsla(359, 0%, 0%, 0.1%);
}

.rating{
    padding: 1.5rem 1.5rem;
    opacity: 100%;
    transition: 
        opacity 0.1s ease-in-out, 
        margin-left 0.1s ease-in-out;
}

.thankyou {
    padding: 2.5rem 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 100%;
    transition: opacity 2s ease-in-out;
}

.circle-icon{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
    border-radius: 50%;
    background-color: hsla(0, 0%, 100%, 5%);
}

.circle-icon img{
    width: 0.9rem;
}

h1, h2{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

p{
    color: var(--light-grey);
    font-size: 0.8rem;
    margin-bottom: 1.6rem;
    line-height: 1.4rem;
}

.thankyou p{
    text-align: center;
    margin-bottom: 0;
}

p.selection{
    color: #ea914f;
    background-color: hsla(0, 0%, 100%, 5%);
    padding: 0.3rem 1rem 0.1rem 1rem;
    border-radius: 3rem;
    margin-bottom: 1.8rem;
}

.thankyou img{
    margin-bottom: 1.8rem;
    width: 9rem;
}

.ratings{
    display: flex;
    justify-content: space-between;
    color: var(--medium-grey);
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.ratings span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ratings span:hover, .ratings span:focus{
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}

.selected{
    background-color: var(--light-grey);
    color: var(--white);
}

button{
    border: none;
    width: 100%;
    padding: 0.9rem 0;
    background-color: var(--orange);
    border-radius: 3rem;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 0.1rem;
}

button:hover, botton:focus{
    cursor: pointer;
    background-color: var(--white);
    color: var(--orange);
}

footer{
    position: fixed;
    bottom: 1rem;
}

.attribution{ 
    font-size: 11px; 
    text-align: center; 
    color: var(--medium-grey);
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

/* for javascript hiding functionality */
.hidden{
    margin-left: -3rem;
    opacity: 0%;
}

.removed{
    display: none;
}

/* desktop */
@media only screen and (min-width: 400px){
    .container{
        max-width: 26rem;
        padding: 2.3rem;
    }

    h1, h2{
        font-size: 1.75rem;
        margin-bottom: 0.8rem;
    }

    .circle-icon {
        margin-bottom: 2rem;
    }

    p{
        font-size: 1rem;
        margin-bottom: 1.6rem;
        line-height: 1.4rem;
    }

    .ratings{
        margin-bottom: 0;
    }
    
    button{
        font-size: 1rem;
    }

    .circle-icon{
        width: 3rem;
        height: 3rem;
    }

    .thankyou {
        padding: 3rem 1.6rem;
    }

    .thankyou img{
        margin-bottom: 2.2rem;
        width: 10rem;
    }
}